<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auxilium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF3376901E467E9400D99027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3376A41E467E9500D99027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3376AF1E467E9500D99027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
