<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203387954800-7uqh8fd3tucp1emp5gnp0aahvm2ftdfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203387954800-7uqh8fd3tucp1emp5gnp0aahvm2ftdfh</string>
	<key>API_KEY</key>
	<string>AIzaSyBd2lLRAYS7P375Wd6mGYMfIzfKszVUYd0</string>
	<key>GCM_SENDER_ID</key>
	<string>203387954800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auxilium.iod</string>
	<key>PROJECT_ID</key>
	<string>auxilium-a8562</string>
	<key>STORAGE_BUCKET</key>
	<string>auxilium-a8562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203387954800:ios:08e6899b47cebc4c</string>
	<key>DATABASE_URL</key>
	<string>https://auxilium-a8562.firebaseio.com</string>
</dict>
</plist>